site_name: MySQL WIKI
site_description: "MySQL WIKI"
site_author: "fengzhao"
site_url: "https://mysql.fengzhao.me"

# Repository
repo_name: "fengzhao/mysql-wiki"
repo_url: "https://github.com/fengzhao/mysql-wiki"

# Copyright
copyright: "Copyleft &copy; 2020 - 2023 fengzhao"

theme:
  name: material
  language: "zh"
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.top

  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
      primary: "indigo"
      accent: "indigo"

    - scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
  font:
    text: "Roboto"
    code: "Roboto Mono"

plugins:
  - search
  - minify:
      minify_html: true
  - git-revision-date-localized:
      type: iso_datetime

markdown_extensions:
  - admonition
  - codehilite:
      guess_lang: false
      linenums: false
  - toc:
      permalink: true
  - footnotes
  - meta
  - def_list
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:pymdownx.emoji.to_png
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tasklist
  - pymdownx.tilde

nav:
  - "Home": index.md
  - "学习资源": resources.md
  - "MySQL入门":
      - "0. MySQL的起源和分支": basic/0.mysql_source.md
      - "1. 数据库概述": basic/1.introduce_database.md
      - "2. 安装 MySQL": basic/2.install_mysql.md
      - "3. MySQL可执行程序": basic/3.mysql_execute_command.md
      - "4. SQL语句和语法": basic/4.sql.md
      - "5. 关系模型和关系代数": basic/5.relation.md
      - "6. SQL题目练习": basic/6.sql_practice.md
      - "7. MySQL数据类型": basic/7.MySQL数据类型.md
      - "8. MySQL字符集和排序规则": basic/8.MySQL字符集和排序规则.md
      - "9. MySQL逻辑架构": basic/9.mysql_architecture.md
      - "10. MySQL存储引擎": basic/10.MySQL存储引擎.md
      - "11. MySQL事务和锁": basic/11.sql-Transaction.md
      - "12. MySQL内存概述": basic/12.MySQL内存概述.md
      - "13. MySQL是如何打开和关闭表": basic/13.MySQL是如何打开和关闭表.md
      - "14. MySQL数据字典": basic/14.MySQL数据字典.md
      - "15. MySQL数据文件格式": basic/15.数据文件格式.md
      - "16. MySQL分区表": basic/16.MySQL分区表.md
      - "17. MySQL快速导入数据": basic/17.MySQL快速导入数据.md
      - "18. MySQL临时表": basic/18.MySQL临时表.md


  - "SQL特性":
      - "1.SQL2023新特性": sql/sql2023.md
  - "MySQL基础":
      - "1.索引相关": foundmental/2.MySQL索引.md
      - "2.数据库设计": dev/02.数据库设计.md
      - "3.在线DDL": dev/03.在线DDL.md
      - "4.联表算法": dev/04.MySQL连表查询算法.md
      - "5.insert语法": dev/05.MySQL-insert语法.md
  - "MySQL高级":
      - "深入理解innoDB存储引擎":
          - "1.MySQL架构到innoDB架构": advanced/1.MySQL架构到InnoDB架构.md
          - "2.InnoDB——简介": advanced/2.InnoDB——简介.md
          - "3.InnoDB关键特性": advanced/3.InnoDB——关键特性.md
          - "4.InnoDB内存结构——缓冲池": advanced/4.InnoDB内存结构——缓冲池.md
          - "5.搭建MySQL源代码调试debug环境": advanced/5.MySQL源代码调试环境.md
      - "OLAP":
          - "1.0.OLAP概述": olap/01.OLAP概述.md
      - "MySQL协议分析":
          - "1.协议分析概述": foundmental/1.MySQL协议分析与抓包概述.md
  - "MySQL调优":
      #- "Ansible 架构": dev/ansible-architecture.md
      - "调优概述": optimize/1.overview.md
      - "数据大小": optimize/many_tables.md
  - "PostgreSQL":
      - "1. PostgreSQL简介": postgresql/01.postgresql简介.md
      - "2. PogreSQL安装": postgresql/02.postgresql安装.md
      - "3. PogreSQL体系架构": postgresql/03.体系架构.md
      - "4. PogreSQL访问控制": postgresql/04.postgresql访问控制.md
      - "5. 常用SQL": postgresql/05.常用SQL.md
      - "6. 继承": postgresql/06.继承表.md
      - "7. 用户自定义函数UDF": postgresql/07.用户自定义函数.md
      - "8. 基本数据类型": postgresql/08.数据类型.md
      - "9. 可执行程序": postgresql/09.可执行程序.md

  - "MongoDB":
      - "0. MongoDB概述": mongodb/01.简介.md

  - "Redis":
      - "0. redis概述": redis/01.redis简介.md
      - "2. redis客户端": redis/02.redis客户端.md
  - "算法":
      - "0. 算法概述": 算法/01.算法和数据结构概述.md


  - "Oracle":
      - "1.Oracle概述": oracle/01.Oracle概述.md
      - "2.Oracle安装": oracle/02.oracle安装.md
      - "3.Oracle体系架构": oracle/03.Oracle体系架构.md
      - "4.Oracle访问控制": oracle/04.oracle访问控制.md
      - "5.常用SQL": oracle/05.常用SQL.md
      - "6.达梦优化": oracle/06.达梦优化.md

  - "network":
      - "1.计算机网络概述": network/1.计算机网络概述.md
 



extra_css:
  - stylesheets/extra.css
